p,
h1,
li {
  color: rgb(147, 64, 94);
  width: 500px;
}

img[src] {
  width: 40%;
  height: auto;
}

a:hover
{
  color: rgb(51, 128, 167);
}

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
